.card {
  border: 1px solid;
  width: 20%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
  float: left;
}

.card--row {
}

.card--unknown {
  border: 1px solid;
  width: 20%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
  float: left;
}

.card--unknown > p {
  color: green;
}

#left {
}
#right {
}
#bottomLeft {
}
#bottomRight {
}
